@font-face {
	font-family: roboto;
	src: url("font/Roboto-Thin.ttf");

} 

body{
	background-color: #f5f5f5;
	font-family: roboto;
		margin-top: 10%;
}


/******************** CONTCT  *******************/

.tableau .tableau-contact-info{
    margin: auto;
    position: absolute;
    top: 18%;
    color: #fff;
    margin-left: 3%;
    font-size: 18pt;
   	margin-bottom: 1em;
 margin-right: 24%;
}

.tableau .tableau-contact-info h1{
	font-size: 36pt;
	font-family: roboto;
	 font-weight:200;
	 text-align: center;
	 margin-bottom: 1em;
}

.tableau .tableau-contact-info p{
	 margin-bottom: 1em;
}

/* FORMULAIRE*/

.form-label {
	font-size: 18pt;
	color: #37474f;
	font-weight:normal;
	font-family: roboto;
	display: block;
	opacity: 1;
	-webkit-transition: .333s ease top, .333s ease opacity;
	transition: .333s ease top, .333s ease opacity;
	margin-bottom: 5px;
}
/****home****/
img{
	padding: 24px;
}

.form-group {
    margin-bottom: 2em;
    margin-top: 2em;
}

.form-control {
	border-radius: 0;
	border-color: #ccc;
   	border-width: 0 0 2px 0;
   	border-style: none none solid none;
   	box-shadow: none;
   	background-color: #f5f5f5;
   	margin-bottom: 1em;
}

textarea {
	resize: none;
	background-color: #f5f5f5;
}

.col-xs-offset-3 {
    margin-left: 0%;
}

.form-control:focus {
	box-shadow: none;
	border-color: #37474f;
}

.btn-start-order {
    background: transparent;
    border: 1px solid #2f323a;
    border-radius: 3px;
    color: #2f323a;
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    line-height: inherit;
    margin: 81px 0px;
    padding: 10px 50px;
    text-transform: uppercase;
    transition: all 0.25s ease 0s;
    margin-right: 63%;
}


.btn-start-order:hover{
	border-color: #37474f;
	background-color: #85827b;
	color: #37474f;
}





/******************** BIOGRAPHIE  *******************/

.lisa-seror img{
	 display: block;
     margin-left:17%;
     margin-right: 5%;	
}

.bio-lisa p{
	font-size: 18pt;
	font-family: roboto;
}

.text-univers{
	font-size: 18pt;
	font-family: roboto;
}
a:hover { 
    background-color: red;
}